pkgbase = libnghttp3
	pkgdesc = HTTP/3 library written in C
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ngtcp2/nghttp3
	arch = x86_64
	license = MIT
	provides = libnghttp3.so
	source = libnghttp3-1.0.0.tar.gz::https://github.com/ngtcp2/nghttp3/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 838def499e368b24d8a4656ad9a1f38bb7ca8b2857a44c5de1c006420cc0bbee

pkgname = libnghttp3
