pkgbase = libnghttp3
	pkgdesc = HTTP/3 library written in C
	pkgver = 0.15.0
	pkgrel = 1
	url = https://github.com/ngtcp2/nghttp3
	arch = x86_64
	license = MIT
	provides = libnghttp3.so
	source = libnghttp3-0.15.0.tar.gz::https://github.com/ngtcp2/nghttp3/archive/refs/tags/v0.15.0.tar.gz
	sha256sums = 6a75f5563e58d99e6b98d442111ac677984011c66b8b4f923764712741399027

pkgname = libnghttp3
